.location-content {
  margin-top: 24px;
  margin-bottom: 24px;
  text-align: center;
}
.location-heading {
  text-align: center;
  margin-bottom: 40px;
}
.location-address {
  margin-bottom: 8px;
  margin-top: 10px;
}
.location-image {
  margin-bottom: 16px;
}
