.location-button {
  width: 50px;
  height: 50px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-button-icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.location-buttons-space {
  margin-top: 5px;
}
