.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;

  &-desktop {
    display: flex;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &-mobile {
    display: none;
    position: relative;

    @media (max-width: 768px) {
      display: block;
    }

    .hamburger-menu {
      position: absolute;
      top: 16px; /* Adjust as necessary */
      right: 16px; /* Adjust as necessary */
      font-size: 20px;
      border: none;
      background: none;
      cursor: pointer;
    }
  }
}
