.tableOfContent {
  margin-bottom: 32px;
  /* background: #fafafa; */
  border: 1px solid #f0f0f0;
  padding: 16px;
  border-radius: 8px;
}

.policyIntroParagraph {
  margin-bottom: 16px;
  line-height: 1.6;
  padding-left: 1px;
  margin-left: 5px;
}
